albumentations
click
Cython
easydict
fire
graphviz
h5py
matplotlib
ninja
nltk
numba
numpy
opencv-python-headless
pandas
pickleshare
Pillow
pyspng
pyreadline
PyYAML
scikit-image
scikit-learn
scipy
tensorboard
tqdm
xlwt

# medical imaging
itk
simpleitk
medpy
nibabel
monai
